In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('e_commerce_db.db')

# TOP 10 Sales Products by Quantity Sold
query_top_products = """
SELECT 
    Description, 
    SUM(Quantity) AS TotalUnitSales
FROM 
    Sales
GROUP BY 
    Description
ORDER BY 
    TotalUnitSales DESC
LIMIT 10;
"""

# TOP 10 Sales Products by Total Sales Amount
query_top_productSalesAmount = """
SELECT 
    Description, 
    SUM(TotalPrice) AS TotalSalesAmount,
    SUM(Quantity) AS TotalUnitsSold,
    AVG(UnitPrice) AS AverageUnitPrice
FROM 
    Sales
GROUP BY 
    Description
ORDER BY 
    TotalSalesAmount DESC
LIMIT 10;
"""

# Execute the query and save the result in a new Pandas DataFrame
df_top_products_sql = pd.read_sql(query_top_products, conn)
df_top_productSalesAmount_sql = pd.read_sql(query_top_productSalesAmount, conn)

# Close the database connection
conn.close()

df_top_productSalesAmount_sql.head(10)

,Description,TotalSalesAmount,TotalUnitsSold,AverageUnitPrice
0,"PAPER CRAFT , LITTLE BIRDIE",168469.60,80995,2.080000
1,REGENCY CAKESTAND 3 TIER,123740.00,12402,9.990133
2,WHITE HANGING HEART T-LIGHT HOLDER,100448.15,36725,2.893107
3,JUMBO BAG RED RETROSPOT,85220.78,46181,2.015878
4,MEDIUM CERAMIC TOP STORAGE JAR,81416.73,77916,1.220303
5,PARTY BUNTING,68834.85,15291,4.874678
6,ASSORTED COLOUR BIRD ORNAMENT,56580.34,35362,1.680795
7,RABBIT NIGHT LIGHT,51346.20,27202,2.013943
8,CHILLI LIGHTS,46249.61,9650,5.391202
9,PAPER CHAIN KIT 50'S CHRISTMAS,42660.83,15617,2.937203

In [22]:
conn = sqlite3.connect('e_commerce_db.db')

# TOP 10 Sales Products by Quantity Sold
AdditionalQuery = """
SELECT 
    Description, 
    SUM(TotalPrice) AS TotalSalesAmount,
    SUM(Quantity) AS TotalUnitsSold,
    AVG(UnitPrice) AS AverageUnitPrice
FROM 
    Sales
GROUP BY 
    Description
ORDER BY 
    TotalSalesAmount DESC;
"""

df_AdditionalQuery = pd.read_sql(AdditionalQuery, conn)

# Close the database connection
conn.close()

totalSalesAmountIs = df_AdditionalQuery['TotalSalesAmount'].sum()
top10TotalSalesAmount = df_top_productSalesAmount_sql['TotalSalesAmount'].sum()

df_top_productSalesAmount_sql.head(10)

print(f"The total sales amount is: {totalSalesAmountIs}. The top 10 products Total Sales Amount are: {top10TotalSalesAmount}")

The total sales amount is: 8624815.894000001. The top 10 products Total Sales Amount are: 824967.0900000007